.content-filter {
  margin: 11px 14px 0px;
  width: 345px;
}

.content-filter__container {
  padding: 21px 0px 31px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filter-element {
  position: relative;
}

.filter-element__common-text {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.49px;
  padding: 5px 0px 0px 21px;
}

.filter-element__radio {
  opacity: 0;
  position: absolute;
}

.filter-element__radio:checked+.filter-element__common-text {
  color: #2f80ed;
  padding-left: 19px;
  border-left: 2px solid #2f80ed;
  border-radius: 0px;
  display: flex;
  align-items: center;
}

@media (min-width: 1073px) {
  .content-filter {
    margin: 0px 14px 0px;
    width: 304px;
  }
}