.news-body {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.container__news-body {
  padding: 20px 16px;
}

.text {
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.news-body__avatar {
  order: 1;
}

.news-body__post-author {
  padding-left: 8px;
  order: 2;
}

.post-author {
  display: flex;
  flex-direction: column;
}

.post-author__text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.56px;
}

.news-container {
  border-radius: 8px;
  max-width: 745px;
  min-width: 345px;
}

.post-author__disabled-text {
  font-size: 12px;
}

.news-body__text {
  width: 100%;
  order: 4;
}

.post-picture {
  border-radius: 8px;
}

.news-body__post-picture {
  order: 5;
}

.media {
  display: flex;
  gap: 16px;
}

.news-body__media {
  order: 6;
  margin: 0px 0px 0px auto;
}

.media__disabled-text {
  display: flex;
  font-size: 12px;
}

.disabled-text {
  color: #bdbdbd;
  font-weight: 500;
}

.news-body__flex-between-center {
  width: 100%;
}

.news-body__comments-section {
  width: 100%;
  order: 7;
}

.comments-section__show-comments:hover {
  background: rgb(247, 247, 247);
}

.comments-section__show-comments {
  cursor: pointer;
  align-items: center;
  display: flex;
  width: 100%;
}

.form_send {
  display: flex;
  align-items: center;
  color: #828282;
}

.show-comments__arrow {
  height: 28px;
  color: #828282;
}

.form__send-photo {
  color: #828282;
  display: flex;
  margin-right: 6px;
}

.comments {
  border-top: 1px solid #f2f2f2;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comment__first-line {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.comment__text {
  font-size: 16px;
}

.comment__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-author {
  display: flex;
  align-items: center;
  gap: 6px;
}

.like-btn {
  display: flex;
  align-items: center;
}

.like-btn_disabled {
  color: #bdbdbd;
}

.like-btn_disabled:hover {
  color: #929292;
}

.like-btn_active {
  color: #eb5757;
}

.like-btn_active:hover {
  color: #a23b3b;
}

.content-comment__likes {
  display: flex;
  gap: 22px;
  padding: 13px 0px 20px 0px;
}

.comment-likes__commont-text {
  font-size: 12px;
}

.content__post-picture {
  margin-top: 10px;
}

.comments-section__comments {
  padding-left: 15px;
  margin: 0px 20px 20px 0px;
  border-left: 3px solid rgb(234, 234, 234);
}
