.navigation-item {
  color: #828282;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 14px 0px;
}

.nav-icon {
  text-align: center;
  width: 100%;
  padding: 9px 0px;
}

.navigation-item:hover {
  border-radius: 8px;
  background: #f2f2f2;
}

.navigation-item_active {
  color: #2f80ed;
}

.nav-icon_active {
  border-bottom: 2px solid #2f80ed;
}

@media (min-width:1073px) {
  .navigation-item {
    margin: auto 0px 0px;
  }

  .navigation-item:hover {
    border-radius: 0px;
    background: #ffffff;
  }

  .nav-icon:hover {
    border-radius: 8px;
    background: #f2f2f2;
  }

  .nav-icon {
    margin-bottom: 10px;
  }

  .nav-icon_active {
    margin-bottom: 8px;
    border: 0px;
  }

  .navigation-item_active {
    border-bottom: 2px solid #2f80ed;
  }
}