.users-to-follow-section__container {
    border-radius: 12px;
    padding: 10px 20px 30px;
    width: 306px;
}

.users-to-follow-section {
    padding-top: 22px;
}

.top-users__container {
    margin-top: 8px;
}

.top-users {
    display: flex;
    flex-direction: column;
    gap: 24px;
}