.navigation-item {
  width: 164px;
  height: 39px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding-left: 12px;
  justify-content: flex-start;
  color: #4F4F4F;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.42px;
  margin: 0;
}

.navigation-item:hover,
.navigation-item_active {
  border-radius: 8px;
  background: #f2f2f2;
}

.navigation-item_logout-element {
  border-top: solid 1px #E0E0E0;
  margin-top: 10px;
  padding-top: 10px;
}

.navigation-item_logout-title {
  color: #EB5757;
}