.nav-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 900px) {
  .nav-container {
    display: none;
  }
}
