.profile-header__background {
  width: 100%;
  max-height: 140px;
}

.profile-header-container {
  background-size: 100% 178px;
  text-align: center;
  background-repeat: no-repeat;
}

.profile-header {
  position: relative;
  max-width: 1073px;
  margin: 0 auto;
}

.avatar {
  z-index: 2;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.container {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.profile-header__avatar {
  overflow: hidden;
  height: auto;
  margin-top: 62px;
}

.profile-header__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 345px;
  max-width: 1073px;
  padding-bottom: 23px;
  margin: -35px 0px 0px;
  border-radius: 12px;
}

.container__content {
  z-index: 1;
}

.profile-header__name {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.84px;
  white-space: nowrap;
}

.profile-header__user-names {
  padding-top: 44px;
  display: flex;
  flex-direction: column;
}

.name {
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.followers {
  display: flex;
  gap: 15px;
}

.common-text {
  color: #828282;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.followers__common-text {
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.42px;
}

.followers__common-text_bold {
  color: #333;
  font-weight: 600;
}

.container__followers {
  padding-top: 4px;
}

.container__common-text {
  font-size: 18px;
  text-align: center;
  padding: 14px 0px 0px;
  width: 290px;
}

.container__custom-button {
  padding: 26px 0px 0px;
}

@media (min-width: 900px) {
  .profile-header-container {
    background-size: 100% 298px;
  }

  .profile-header__container {
    width: 1073;
    flex-direction: row;
    margin: -90px 14px 0px;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px 35px;
    flex-wrap: wrap;
  }

  .profile-header__avatar {
    margin: 0px 100% 0px 24px;
    width: 152px;
    height: 152px;
    margin-top: 192px;
  }

  .profile-header__user-names {
    order: 1;
    align-items: flex-start;
    padding: 0px 0px 0px 170px;
    width: 33%;
  }

  .container__followers {
    order: 2;
    width: 33%;
    padding: 4px 0px 0px 5px;
  }

  .container__common-text {
    width: 100%;
    order: 4;
    text-align: left;
    padding: 14px 0px 0px;
    width: 427px;
    margin-left: 170px;
  }

  .container__custom-button {
    width: 33%;
    order: 3;
    padding: 0px 28px 0px 0px;
    text-align: right;
  }
}