.profile-header__background {
  width: 100%;
  max-height: 140px;
}

.profile-header {
  background-size: 100% 178px;
  text-align: center;
  background-repeat: no-repeat;
}

.avatar {
  z-index: 2;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.container {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.profile-header__avatar {
  margin-top: 62px;
}

.profile-header__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 345px;
  max-width: 1073px;
  padding-bottom: 23px;
  margin: -35px 14px 0px;
  border-radius: 12px;
}

.container__content {
  z-index: 1;
  padding: 9px 24px;
}

.profile-header__name {
  padding-top: 44px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.84px;
}

.name {
  font-family: 'Poppins', sans-serif;
}

.followers {
  display: flex;
  gap: 15px;
}

.common-text {
  color: var(--Gray-3, #828282);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.followers__common-text {
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.42px;
}

.followers__common-text_bold {
  color: var(--Gray-1, #333);
  font-weight: 600;
}

.container__followers {
  padding-top: 4px;
}

.container__common-text {
  text-align: center;
  padding: 14px 0px 0px;
  width: 290px;
}

.container__custom-button {
  padding: 26px 0px 0px;
}

@media (min-width: 1073px) {
  .profile-header {
    background-size: 100% 298px;
  }

  .profile-header__container {
    margin: 0 auto;
  }
}
