.settings-page__container {
  min-width: 345px;
  max-width: 745px;
  border-radius: 8px;
  padding: 20px 16px 35px;
  margin: 0px 16px 90px;
}

.none {
  display: none;
}

.settings-form__setter-photos {
  padding-top: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}

.setter-photo__user-avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.setter-photos__text {
  font-weight: 600;
  font-size: 14px;
}

.setter-photos__avatar {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.setter-photos__backround {
  margin-top: 5px;
  border-radius: 8px;
  width: 325px;
  height: 105px;
}

.setter-photos__common-text {
  font-size: 12px;
}

.user-background__common-text {
  font-size: 14px;
}

.settings-form__button {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

@media (min-width: 745px) {
  .setter-photos__common-text {
    font-size: 14px;
  }

  .user-background__common-text {
    font-size: 16px;
  }
  .setter-photos__avatar {
    width: 80px;
    height: 80px;
  }
  .settings-page__container {
    margin: 0px auto 80px;
  }
  .setter-photos__backround {
    width: 700px;
    height: 305px;
  }

  .setter-photos__text {
    font-size: 16px;
  }
  .dark-text__container {
    font-size: 18px;
  }
}
