.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings-page__container {
  min-width: 345px;
  max-width: 745px;
  border-radius: 8px;
  padding: 20px 16px 14px;
}

.none {
  display: none;
}

@media (min-width: 1073px) {
}
