.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.trends {
    display: none;
}

@media (min-width:1073px) {
    .trends {
        display: flex;
        flex-direction: column;
    }

    .home-page {
        flex-direction: row;
        align-items: flex-start;
        gap: 15px;
    }
}