.button {
    border-radius: 4px;
    color: white;
}

.blue {
    background: #2F80ED;
}

.button__subscribee-grey {
    background: rgb(126, 125, 125);
}

.button__subscribee-grey:hover {
    background: rgb(100, 100, 100);
}

.standard {
    padding: 9px 24px;
}

.small {
    padding: 4px 13px;
}

.content {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
}

.blue:hover {
    background: #2b76d8;
}

.button:disabled {
    background: #577baa;
    color: rgb(197, 196, 196);
}