.button {
    border-radius: 4px;
    background:  #2F80ED;
    color: white;
}

.standard {
    padding: 9px 24px;
}

.small {
    padding: 4px 13px;
}

.content {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
}

.button:hover {
    background: #2b76d8;
}

.button:disabled {
    background: #577baa;
    color: rgb(197, 196, 196);
}